html {
    height: 100%;

    body {
        margin: 0;
        padding: 0;
        height: 100%;
    
        >div {
            padding: 15px;
            overflow: auto;
            height: 100%;
        }
    }
}

* {
    font-size: 14px!important;
}